.myproject-container {
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myproject-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.myproject-container form label {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.myproject-container form .myproject-input {
  height: 40px;
  box-shadow: -2px 5px 20px rgba(0, 0, 0, .3);
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 20px;
  background: #FFF;
}

.myproject-container form .myproject-input-image {
  height: 40px;
  box-shadow: -2px 5px 20px rgba(0, 0, 0, .3);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  display: flex;
  background: #FFF;
  margin-top: 10px;
}

.myproject-container form .myproject-description {
  box-shadow: -2px 5px 20px rgba(0, 0, 0, .3);
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}

.myproject-container form .myproject-submit {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.myproject-container form .myproject-submit input {
  color: #FFF;
  background-color: #101726;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.myproject-container form select {
  padding: 5px;
}

.date-container {
  display: flex;
}

.date-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.technologies-container {
  display: flex;
  flex-direction: row;
}

.technologies-item {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

input[type="checkbox"] {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .3);
}

@media only screen and (max-width: 1250px) {
  .myproject-container {
    padding: 50px 100px;
  }
}
@media only screen and (max-width: 770px) {
  .myproject-container {
    padding: 50px 40px;
  }

  .date-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 720px) {
  .myproject-container {
    padding: 50px 40px;
  }
}